<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/logo.png" width="110" height="85"></a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="profile" role="button">
    Profile
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="matches" role="button">
      Swipe
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="messages" role="button">
      Message
      </a>
    </div>
  </form>
</nav>

<% if user_signed_in? %>

<p align="right">
  Logged in as <strong><%= current_user.email%></strong>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</p>  
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>  

<strong>Heavy Metal, Punk, Goth, Emo dating \MM/</strong>


<h3>News</h3>

<% if @blog_posts != nil %>
<% @blog_posts.each do |blogpost| %>
    <%= render blogpost %>
<% end %>
<% end %>
