<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/profile" role="button">
    Profile
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/matches" role="button">
      Matches
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/messages" role="button">
      Messages
      </a>
    </div>
  </form>
</nav>

<h3>Potential matches</h3>
<table>
  <tr>
   <% current_user.getpotentials.each do |person| %>
        <td>
        <li class="round-image-50"><%= image_tag(person.avatar.url) %></li>
        <strong><%= person.id %> - <%= person.email %> </strong>
          <table>
          <tr>
          <td>
            <li class="round-image-50">
            <%= link_to image_tag('/images/yes.png', :border=>0), 'semimatch?' + {person1_id:current_user.id, person2_id: person.id}.to_param, method: :post, remote: true %>
            </li></td>
          <td>
            <li class="round-image-50">
            <%= link_to image_tag('/images/no.png', :border=>0), 'semimatch?' + {person2_id:current_user.id, person1_id: person.id}.to_param, method: :post, remote: true %>
            </li></td>
          </tr>
          </table>
        </li>
        </td>
   <% end %>
  </tr>
</table>

<h3>You liked</h3>
<table>
  <tr>
   <% current_user.getsentlikes.each do |person| %>
        <td>
        <li class="round-image-50"><%= image_tag(person.avatar.url) %></li>
        <strong><%= person.id %> - <%= person.email %> </strong>
        </li>
        </td>
   <% end %>
  </tr>
</table>

<h3>Liked by</h3>
<table>
  <tr>
   <% current_user.getlikedby.each do |person| %>
        <td>
        <li class="round-image-50"><%= image_tag(person.avatar.url) %></li>
        <strong><%= person.id %> - <%= person.email %> </strong>
        </li>
        </td>
   <% end %>
  </tr>
</table>