<% if @matches.blank? %>
<p>There are not any matches currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "match">
   <% @matches.each do |match| %>
        <td><%= match.person1_id %></td>
        <td><%= image_tag(match.person1.name) %>
        <td><%= match.person2_id %></td>
        <td><%= image_tag(match.person2_id.avatar.ul) %>        
        <td><%= match.time %></td>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Match", {:action => 'new' }%></p>